/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

/* CSS styling for elements in authors.html organized by location in authors.html file */

/* Styling for elements with the class bold */
.bold {
    font-weight: bold;    /* Apply bold font weight */
}

/* Styling for the author-showcase id */
#author-showcase {
    color: white;                             /* Text color */
    background-image: url(../img/IMG_0099.jpg);    /* Background image */
    background-repeat: no-repeat;               /* Prevent background image from repeating */
    background-size: cover;                     /* Scale background image to cover the container */
    height: 80vh;                               /* Set the height to 80% of the viewport height */
}
  
/* Styling for the row elements within the author-showcase ID */
#author-showcase .row {
    padding-right: 10vw;  /* Right padding using viewport width units */
    padding-left: 10vw;   /* Left padding using viewport width units */
    padding-top: 10vw;    /* Top padding using viewport width units */
    text-align: justify;  /* Justify text alignment */
}

/* Styling for text with the a-showcase-text class*/
.a-showcase-text {
    padding-top: 2vw;       /* Top padding using viewport width units */
    text-align: justify;    /* Justify text alignment */
}

/* Style for text in the authors class */
/* About Us or Authors CSS, formats position, color, or size */
.authors {
    margin-top: 20px;
}

/* Styling for elements with the class author-position */
.author-position {
    width: 75%;         /* Set width to 75% */
    margin: 20px auto;  /* Margin for centering */
}

/* Styling for elements with the class img-sizing */
.img-sizing {
    width: 50%;         /* Set width to 50% */
    display: block;     /* Display as a block element */
    margin: auto;       /* Center horizontally */
    position: relative; /* Position relative to the normal flow */
    bottom: 25px;       /* Adjust position from the bottom */
}

/* Styling for elements with the class modal-author */
.modal-author {
    display: inline-flex; /* Display as inline-flex container */
    margin-left: 5%;      /* Margin on the left */
}

/* Styling for elements with the class cmp-container */
.cmp-container {
    background-color: #F7F5F3; /* Background color */
}

/* Styling for elements with the class cmp-container-info */
.cmp-container-info {
    margin: 0 5%;           /* Margin on left and right */
    position: relative;     /* Relative positioning */
}

/* Styling for the element with the ID cmp-title */
#cmp-title {
    color: #001936;         /* Text color */
    font-size: 33px;          /* Font size */
}

/* Styling for the element with the ID cmp-text */
#cmp-text {
    color: #001936;         /* Text color */
    font-size: 24px;            /* Font size */
}

/* Styling for the element with the ID cmp-btn */
#cmp-btn {
    background-color: #49516f;  /* Background color */
    color: #fff;                /* Text color */
    font-size: 18px;              /* Font size */
}

/* Styling for the hover effect on the element with the ID cmp-btn */
#cmp-btn:hover {
    background-color: #353C55;            /* Background color on hover */
    transition: background-color 0.35s;     /* Transition for background color */
}

/* Styling for the element with the ID cmp-image */
#cmp-image {
    border-radius: 5%;     /* Border radius */
}


