/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

/* CSS styling for elements in events.html organized by location in events.html file */
/* Source: https://www.youtube.com/watch?v=OcncrLyddAs */
/* Styling for body element */
body {
    margin: auto;                                                                               
    min-height: 100vh;                              
    display: flex;                                  
    align-items: center;                            
    justify-content: center;                               
    background-image: url(../img/cal-bg2.jpg); 
    background-size: cover; 
    width: 100%;                                    
    height: 100%;                                   
    background-position-x: center;                    
    background-repeat: no-repeat;                   
    flex-direction: column;                         
}

/* Styling for calendar class elements */
.calendar { 
    width: 100%;                                    
    height: auto;                                   
    display: flex;
    flex-direction: column;
    padding: 3%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 30vh;
    margin-bottom: 10vh;
}

/* Styling for elements with class header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

/* Adjusts size of arrows */
.arrow-size {
    width: 75%;
}

/* Changes opacity of arrows when hovered */
.arrow:hover {
    opacity: 0.5;
    transition: 0.5s;
}

/* Styling for calendar header with month and year */
.monthYear {
    text-align: center;
    font-weight: 600;
    width: 25%;
}

/* Styling for arrow buttons in calendar header */
.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

/* Styling for calendar day headers */
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Styling for day class elements */
.day {
    text-align: center;
    padding: 5%;
    color: #999FA6;
    font-weight: 500;
}

/* Styling for calendar dates in a grid */
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}

/* Styling for dates in calendar */
.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

/* Styling for calendar dates when hovered */
.date:hover {
    background: rgb(88, 144, 255);
    color: #fff;
}

/* Styling for invisible dates in calendar */
.date.inactive {
    color: #fff;
}

/* Styling for invisible dates in calendar when hovered */
.date.inactive:hover {
    color: #fff !important;
    background-color: #fff;
}

/* Styling for event dates in calendar */
.event {
    background: rgba(109, 183, 247, 0.5);
}

/* Styling for event-cards */
.event-cards {
    margin-bottom: -2%;
}

/* Styling for card-1  */
#card-1 {
    width: 30vw;
    flex-direction: column;
}

/* Styling for card-img-top  */
.card-img-top {
    padding: 5%;
    border-radius: 5px;
}

/* Styling for card-title */
.card-title {
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-weight: 750;
    text-align: center;
    margin-top: -5%;
    margin-bottom: 5%;
}

/* Styling for card-text */
.card-text {
    font-family:Georgia, 'Times New Roman', Times, serif; 
}

/* Styling for event location text */
.event-location {
    text-decoration: none;
    color: gray;
}

/* Styling for event location text when hovered */
.event-location:hover {
    color: lightskyblue;
    transition: 0.25s;
}

#removeEvent {
    position: relative;
    float: right;
}

#signUpLink, #removeEvent {
    background-color: #181ba5;
    border-width: 2%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#signUpLink:hover, #removeEvent:hover {
    background-color: #fff;
    border-color:rgb(19, 59, 189);
    color: black;
    transition: 0.2s;
    transform: scale(1.05);
}

/* Styling for footer of events page */
.footer-events {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
}

