table th{
    /*Keep column headers at the top as table is scrolled*/
    position: sticky;
    top: 0px; /* https://www.w3schools.com/cssref/pr_pos_top.php*/
    overflow-y: auto;

}

/* ----------------- Class CSS ----------------- */

.signinbody{
    height: 100vh;
}
.dataForm{
    display: flex;
    justify-content: left;
    align-items: center;
}

.days{
    text-align: center;
    vertical-align: middle;
}

.headerBG{
    background-color: #e6e6e6;
}

.footerBG{
    background-color: #e6e6e6;
}

.ordered-List-item-font{
    font-size:22px;
}
.overview-font{
    font-size:25px;
}

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
