table th{
    /*Keep column headers at the top as table is scrolled*/
    position: sticky;
    top: 0px; /* https://www.w3schools.com/cssref/pr_pos_top.php*/
    overflow-y: auto;

}

/* ----------------- Class CSS ----------------- */

.signinbody{
    height: 100vh;
}
.dataForm{
    display: flex;
    justify-content: left;
    align-items: center;
}

.days{
    text-align: center;
    vertical-align: middle;
}

.headerBG{
    background-color: #e6e6e6;
}

.footerBG{
    background-color: #e6e6e6;
}

.ordered-List-item-font{
    font-size:22px;
}
.overview-font{
    font-size:25px;
}

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-sign {            
    position: static;                          /* Fixed positioning */
    padding: 1.5vh;                           /* Large padding which will shrink on scroll (using JS)*/       
    width: 100%;                              /* Full width of page*/
    top: 0;                                   /* At the top */
    z-index: 100;                             /* Stacking order on the z-axis */
    background-color: rgba(80,117,164,1);   /* Background color blue */
}
