/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

/* CSS styling for elements in all html pages */

/* Styling for a elements with the logo class */
a.logo {
  max-width: 300px;  /* Set maximum width to 300 pixels */
  height: auto;      /* Automatically adjust height to maintain aspect ratio */
}

/* Styling for elements with the class amount_wrapper */
.amount_wrapper {
  margin-top: 20px;               /* Top margin */
  display: flex;                  /* Display as a flex container */
  justify-content: center;        /* Center horizontally */
  align-items: stretch;           /* Stretch items vertically */
}

/* Styling for input elements within amount_wrapper */
.amount_wrapper input {
  border-radius: 8px 0 0 8px;                 /* Border radius */
  padding: 8px;                               /* Padding */
  border: 0;                                  /* No border */
  font-weight: bold;                          /* Font weight */
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);    /* Box shadow */
  background: #fff;                         /* Background color */
}

/* Styling for the arrow class */
.arrow {
  stroke-width: 0.4px;    /* Stroke width for the arrow on the ball */
  stroke: white;        /* Color of the arrow on the ball */
}

/* Styling for elements with the class bi-arrow-up-circle */
.bi-arrow-up-circle {
  color: white;         /* Text color set to white */
}

/* Styling for elements with the class footer */
.footer {
  background-color: rgba(80, 117, 164, 1);      /* Background color in RGBA format */
}

/* Wave animation adapted from https://codepen.io/uchardon/pen/bxbqoG */
/* Styling for the elements with the class footer-main */
.footer-main {
  background-color: transparent;    /* Background color of the footer */
  position: absolute;               /* Absolute positioning */
  width: 100vw;                     /* Full viewport width */
}

/* Styling for the div elements within elements with the class footer-main */
.footer-main div {
  background-color: rgb(80, 117, 164);      /* Background color */
  margin: -5px 0px 0px 0px;                   /* Margins */
  padding: 0px;                               /* Padding */
  color: #fff;                              /* Text color on the bottom */
  text-align: center;                         /* Center text */
}

/* Styling for elements with the class gooeff */
.gooeff {
  filter: url(#goo);        /* Apply a filter */
}

/* CSS for underline animation on hover */
.hover-underline-animation {
  display: inline-block;      /* Display as an inline block */
  position: relative;         /* Set the relative positioning */
}

.hover-underline-animation:after {
  content: '';                            /* Empty content for pseudo-element */
  position: absolute;                     /* Set absolute positioning for the pseudo-element */
  width: 100%;                            /* Full width of the container */
  transform: scaleX(0);                   /* Initial transform to hide the underline */
  height: 2px;                            /* Height of the underline */
  bottom: 0;                              /* Positioned at the bottom */
  left: 0;                                /* Positioned at the left */
  background-color: #eae6e6;            /* Background color of the underline */
  transition: transform 0.35s ease-out;   /* Underline animation */
}

.hover-underline-animation:hover {
  color: rgb(182, 176, 176) !important;     /* Text color change on hover */
  transition: color 0.35s;                    /* Text color transition on hover */
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);                       /* Underline appears on hover */
}

/* Styling for the hover-signin class */
.hover-signin {
  background-color: white;                  /* Background color */
  color: rgb(124, 124, 126) !important;     /* Text color */
  font-size: 23px;                            /* Font size */
  margin: 15px;                               /* Margins all around */
  border-radius: 10px;                        /* Border radius */
  white-space: nowrap;                        /* Prevent text wrapping */
  padding: 8px;                               /* Padding around content */
}

/* Styling for the hover-signin class on hover */
.hover-signin:hover {
  background-color: rgb(158, 155, 155);           /* Background color change on hover */
  color: white !important;                                   /* Text color change on hover */
  transition: color 0.35s, background-color 0.35s;  /* Transition effects */
}

/* Styling for a elements within elements with the class modal-body */
.modal-body a {
  display: flex;                      /* Display as a flex container */
  justify-content: center;            /* Center horizontally */
  align-items: center;                /* Center vertically */
  margin-top: 25px;                   /* Top margin */
  padding: 10px;                      /* Padding */
  border: 0;                          /* No border */
  color: #fff;                      /* Text color */
  font-size: 16px;                    /* Font size */
  text-decoration: none;              /* Remove text decoration */
  border-radius: 25px;                /* Border radius */
  background: #0070ba;              /* Background color */
}

/* Create a sticky/fixed navbar */
.navbarClass {
  overflow: visible;                        /* Overflow visible */
  position: fixed;                          /* Fixed positioning */
  padding: 1.5vh;                           /* Large padding which will shrink on scroll (using JS)*/
  transition: 0.4s;                         /* Adds a transition effect when the padding is decreased */
  width: 100%;                              /* Full width of page*/
  top: 0;                                   /* At the top */
  z-index: 100;                             /* Stacking order on the z-axis */
  background-color: rgba(80,117,164,1);   /* Background color blue */
}

/* Styling for navigation bar links */
.nbMenuItem {
  font-size: 23px;            /* Font size */
  margin: 15px;               /* Margins all around */
  color: white !important;  /* White text color */
  white-space: nowrap;        /* Prevent text wrapping */
  padding: 8px;               /* Padding around content */
}

/* Styling for elements with the class single_amount_wrapper */
.single_amount_wrapper {
  display: flex;                      /* Display as a flex container */
  justify-content: space-between;     /* Space between items */
  align-items: center;                /* Center vertically */
  margin-bottom: 20px;                /* Bottom margin */
}

/* Styling for elements with the class single_amount */
.single_amount {
  padding: 10px 20px;              /* Padding */
  margin: 0 5px;                   /* Margins */
  border-radius: 25px;             /* Border radius */
  color: #fff;                   /* Text color */
  background: #0070ba;           /* Background color */
  cursor: pointer;                 /* Cursor style */
}

/* Styling for elements with the class suffix */
.suffix {
  padding: 8px;                             /* Padding */
  border: 0;                                /* No border */
  font-weight: bold;                        /* Font weight */
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);  /* Box shadow */
  background: #fff;                       /* Background color */
  border-radius: 0 8px 8px 0;               /* Border radius */
}

/*source: https://cssgradient.io/blog/css-gradient-text/ */
/* Styling for elements with the class text-gradient */
.text-gradient {
  background: linear-gradient(to right, #0b7dee 0%, #1cbe8e 100%);      /* Linear gradient background */
  font-weight: bold;                                                        /* Bold font weight */
}

#donate_goal{
  font-size: 20px;
}

/* CSS webkit keyframes for a fade-in animation */
@-webkit-keyframes fadeIn {
  from { opacity: 0; } /* Starting with opacity 0 */
  to { opacity: 1; }   /* Ending with opacity 1 */
}

/* CSS keyframes for a fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; } /* Starting with opacity 0 */
  to { opacity: 1; }   /* Ending with opacity 1 */
}

/* CSS keyframes for a fade-out animation */
@keyframes fadeOut {
  from { opacity: 1; } /* Starting with opacity 1 */
  to { opacity: 0; }   /* Ending with opacity 0 */
}

/* Keyframes for the drop animation */
@keyframes drop {
  0% {
    transform: translateY(80%);     /* Initial transformation */
    opacity: 0.6;                   /* Initial opacity */
  }
  80% {
    transform: translateY(80%);     /* Transformation at 80% of animation */
    opacity: 0.6;                   /* Opacity at 80% of animation */
  }
  90% {
    transform: translateY(10%);     /* Transformation at 90% of animation */
    opacity: 0.6;                   /* Opacity at 90% of animation */
  }
  100% {
    transform: translateY(0%) scale(1.5);     /* Final transformation */
    stroke-width: 0.2;                        /* Stroke width at the end */
    opacity: 0;                               /* Final opacity */
  }
}

/* Keyframes for the wave animation */
@keyframes wave {
  to {
    transform: translateX(-100%);     /* Translation to the left */
  }
}

/* Keyframes for the ball animation */
@keyframes ball {
  to {
    transform: translateY(20%);       /* Translation in the Y-axis */
  }
}