@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap'); /*

body {
    font-family: "Montserrat", Georgia, serif;
}

/* navbar color and text size */
/* Create a sticky/fixed navbar */
.navbarClass {
    overflow: visible;
    position: fixed;
    padding: 1.5vh; /* Large padding which will shrink on scroll (using JS)*/
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 100;
    background-color: rgba(80,117,164,1);
  }
  a.logo {
    max-width: 300px; 
    height: auto;
  }
  #navbar-index{
    background-color: rgba(80,117,164,0)
  }



.nbMenuItem {               /* navbar link text properties*/
    font-size: 23px;
    margin-left: 15px;
    margin-right: 15px;
    color:white !important;
    white-space: nowrap;
    padding: 8px;
}




/* showcase background and text color*/
.showcase {
    color: white;
    background-image: linear-gradient(to top, rgb(80,117,164), transparent 50%, transparent), url(img/indexbackground.jpg);
    background-repeat: no-repeat, no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover, cover;
    height: 100vh;
}
.showcase .row {
    padding-top: 20vh;
}

/* About Us or Authors CSS, formats position, color, or size */
.authors {
  margin-top: 20px;
}

#author-showcase {
  
  color: white;
  background-image: url(img/IMG_0099.jpg);
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
  height: 80vh;
}

#author-showcase .row{
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top: 10vw;
  text-align: justify;
  
}
.a-showcase-text {
  padding-top: 2vw;
  text-align: justify;
}

.cmp-container {
  
  background-color: #F7F5F3;
}

.cmp-container-info {
  margin: 0 5%;
  position:relative;
}

#cmp-title {
  color: #001936;
  font-size: 33px;
}

#cmp-text {
  color: #001936;
  font-size: 24px;
}

#cmp-image {
  border-radius: 5%;
}

#cmp-btn {
  background-color: #49516f;;
  color: #fff;
  font-size: 18px;
}

#cmp-btn:hover {
  background-color: #353C55;
  transition: background-color 0.35s;
}
.img-sizing {
  width:50%;
  display: block;
  margin: auto;
  position: relative;
  bottom: 25px;
}
.author-position{
  width:75%;
  margin: 20px auto;
}

.modal-author {
  display: inline-flex;
  margin-left: 5%;
}

.bold {
  font-weight: bold;
}

/* events formatting */
.events{
  margin-top: 15rem;
  margin-bottom: 10rem;
  margin-left: 5rem; 
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}


/*source: https://cssgradient.io/blog/css-gradient-text/ */
.text-gradient {
  background: linear-gradient(to right, #0b7dee 0%, #1cbe8e 100%);
  font-weight: bold;
}

.basic-info {
    min-height: 50vh;
    color: cornflowerblue;
}
.basic-info .row {
  padding-left: 10vw;
  padding-right: 10vw;
}
.basic-info a {
  color: cornflowerblue;
}
/*source: https://cssgradient.io/blog/css-gradient-text/ */

/* underline animation CSS */

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover {
  color:  rgb(182, 176, 176) !important;
  transition: color 0.35s;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/    
}

.hover-signin {
  background-color: white;
  color: rgb(126, 124, 124) !important;
  border-radius: 10px;
}

.hover-signin:hover {
  background-color: rgb(158, 155, 155);
  color: white;
  transition: color 0.35s, background-color 0.35s;
}

.footer {
  background-color:rgba(80,117,164,1);
}
.bi-arrow-up-circle{
  color: white;
}

/*calendar formatting*/
/* source: https://codepen.io/PepitaK/pen/mdqpRee */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

.calendar {
	display: flex; 
	flex-flow: column; 
	align-items: center;
	font-family: "Poppins", serif;
  background-image: url(img/cal-bg2.jpg); 
  margin-top: 6.5rem;
  margin-bottom: -2rem;
  padding: 1rem 4rem 1rem 4rem;
}

#calendar-1 {
  margin-bottom: -9rem;
}

#cal-head-1 {
  margin-top: 0.5rem;
}

.cal-title {
	font-weight: 800;
	margin: 1rem 0 0;
}

.cal-caption {
  font-weight: 600;
	margin: 0.5rem 0 0;
}

.cal-head {
  display: inline-flex;
  margin: auto;
}

#cal-head-1 {
  display: inline-flex;
}

#cal-head-2 {
  display: none;
}

#cal-1 {
  display: grid;
}

#cal-2 {
  display: none;
}



.prev {
  margin-right: 18rem;
  margin-top: 1rem;
  opacity:0.25;
}

.prev:hover {
  background-color:#898989;
  transition: background-color 0.35s;
}

.next {
  margin-left: 18rem;
  margin-top: 1rem;
}

.next:hover {
  background-color:#898989;
  transition: background-color 0.35s;
}

.cal-boxes {
  margin: 1rem;
}

.cal-days{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	list-style: none;
}

.day {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin: 0.25rem;
  flex-flow: column;
  border-radius: 0.2rem;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.day-head {
  display: flex;
  width: 10rem;
  height: 2.5rem;
  margin: 0.25rem;
  flex-flow: column;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.5rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-items: center;
}

.event-title {
  font-weight: 1000;
  font-size: 125%;
  margin-top: -1rem;
}

.event-des {
  display: none;
}

.day:hover .event-des{
  display: flex;
  animation: fadeIn 0.5s;
}

.day:hover {
  transform: scale(1.25);
  transition: transform 0.5s ease;
  z-index:99;
}

.sign-up {
  color: rgb(77, 153, 225);
  font-weight: 800;
}

time {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.event-day {
  background: rgba(255, 255, 255, 0.75);
}

.event-day time {
  font-weight: 1000;
}


/* Wave animation adapted from https://codepen.io/uchardon/pen/bxbqoG */


.footer-main {
background-color: transparent; /*background color of the footer*/
position: absolute;
width:100vw;
}


.footer-main div {
  background-color: rgb(80,117,164);
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff; /* color of text on bottom*/
  text-align:center;
}
svg {
  width:100vw;
}
.arrow {
  stroke-width: .4px;
  stroke: white; /*color of arrow on ball*/
}
.topball {
  animation: ball 1.5s ease-in-out;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor:pointer;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: rgb(80,117,164); /*changes color of waves*/
}
.gooeff {
  	filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  80% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  90% { 
    transform: translateY(10%) ; 
    opacity:.6; 
  }
  100% { 
    transform: translateY(0%) scale(1.5);  
    stroke-width:0.2;
    opacity:0; 
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}
@keyframes ball {
  to {transform: translateY(20%);}
}

.single_amount_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.single_amount {
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 25px;
    color: #fff;
    background: #0070ba;
    cursor: pointer;
  }
.amount_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.suffix {
  padding: 8px;
  border: 0;
  font-weight: bold;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 0 8px 8px 0;
  }
  .amount_wrapper input {
    border-radius: 8px 0 0 8px;
    padding: 8px;
    border: 0;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    background: #fff;

  }
  
.modal-body a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding: 10px;
  border: 0;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
  background: #0070ba;
}
/*Arrow animation based on arrow animation from https://unused-css.com/blog/animated-down-arrow/*/
.down-arrow {
  position: absolute;
  bottom: 40px; /* Adjust this value if you want the arrow higher or lower from the bottom */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  bottom: -4px; 
  left: 50%;
  transform: translateX(-50%) rotateZ(45deg);
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
}

@keyframes jumpInfinite {
  0% {
      bottom: 30px;
  }
  50% {
      bottom: 50px;
  }
  100% {
      bottom: 30px;
  }
}
