@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap'); /*


/* Create a sticky/fixed navbar */
.navbarClass {
  overflow: visible;                        /* Overflow visible */
  position: fixed;                          /* Fixed positioning */
  padding: 1.5vh;                           /* Large padding which will shrink on scroll (using JS)*/
  transition: 0.4s;                         /* Adds a transition effect when the padding is decreased */
  position: fixed;                          /* Sticky/fixed navbar */
  width: 100%;                              /* Full width of page*/
  top: 0;                                   /* At the top */
  z-index: 100;                             /* Stacking order on the z-axis */
  background-color: rgba(80,117,164,1);   /* Background color blue */
}

/* Styling for anchor (a) elements with the 'logo' class */
a.logo {
  max-width: 300px;  /* Set maximum width to 300 pixels */
  height: auto;      /* Automatically adjust height to maintain aspect ratio */
}

/* Styling for the element with the ID 'navbar-index' */
#navbar-index {
  background-color: rgba(80, 117, 164, 0); /* Transparent background color */
}



/* Styling for navigation bar links */
.nbMenuItem {
  font-size: 23px;            /* Font size */
  margin: 15px;               /* Margins all around */
  color: white !important;  /* White text color */
  white-space: nowrap;        /* Prevent text wrapping */
  padding: 8px;               /* Padding around content */
}




/* Styling for the showcase class */
.showcase {
  color: white;                                                                                                           /* Text color */
  background-image: linear-gradient(to top, rgb(80,117,164), transparent 50%, transparent), url(img/indexbackground.jpg); /* Background image */
background-repeat: no-repeat, no-repeat;                                                                                    /* Prevent background image from repeating */
  background-size: cover, cover;                                                                                            /* Scale background image to cover the container */
  height: 100vh;                                                                                                            /* Set the height to 100% of the viewport height */
}

/* Add padding to the row elements within the showcase class */
.showcase .row {
  padding-top: 20vh;
}

/* Style for text in the authors class */
/* About Us or Authors CSS, formats position, color, or size */
.authors {
margin-top: 20px;
}

/* Styling for the author-showcase id */
#author-showcase {
  color: white;                             /* Text color */
  background-image: url(img/IMG_0099.jpg);    /* Background image */
  background-repeat: no-repeat;               /* Prevent background image from repeating */
  background-size: cover;                     /* Scale background image to cover the container */
  height: 80vh;                               /* Set the height to 80% of the viewport height */
}

/* Styling for the row elements within the author-showcase class */
#author-showcase .row {
  padding-right: 10vw;  /* Right padding using viewport width units */
  padding-left: 10vw;   /* Left padding using viewport width units */
  padding-top: 10vw;    /* Top padding using viewport width units */
  text-align: justify;  /* Justify text alignment */
}


/* Styling for text with the a-showcase-text class*/
.a-showcase-text {
  padding-top: 2vw;       /* Top padding using viewport width units */
  text-align: justify;    /* Justify text alignment */
}

/* Styling for elements with the class cmp-container */
.cmp-container {
  background-color: #F7F5F3; /* Background color */
}

/* Styling for elements with the class cmp-container-info */
.cmp-container-info {
  margin: 0 5%;           /* Margin on left and right */
  position: relative;     /* Relative positioning */
}

/* Styling for the element with the ID cmp-title */
#cmp-title {
  color: #001936;         /* Text color */
  font-size: 33px;          /* Font size */
}

/* Styling for the element with the ID cmp-text */
#cmp-text {
  color: #001936;         /* Text color */
font-size: 24px;            /* Font size */
}

/* Styling for the element with the ID cmp-image */
#cmp-image {
  border-radius: 5%;     /* Border radius */
}

/* Styling for the element with the ID cmp-btn */
#cmp-btn {
  background-color: #49516f;  /* Background color */
  color: #fff;                /* Text color */
  font-size: 18px;              /* Font size */
}

/* Styling for the hover effect on the element with the ID cmp-btn */
#cmp-btn:hover {
  background-color: #353C55;            /* Background color on hover */
transition: background-color 0.35s;       /* Transition for background color */
}

/* Styling for elements with the class img-sizing */
.img-sizing {
  width: 50%;         /* Set width to 50% */
  display: block;     /* Display as a block element */
  margin: auto;       /* Center horizontally */
  position: relative; /* Position relative to the normal flow */
  bottom: 25px;       /* Adjust position from the bottom */
}

/* Styling for elements with the class author-position */
.author-position {
  width: 75%;         /* Set width to 75% */
  margin: 20px auto;  /* Margin for centering */
}

/* Styling for elements with the class modal-author */
.modal-author {
  display: inline-flex; /* Display as inline-flex container */
  margin-left: 5%;      /* Margin on the left */
}

/* Styling for elements with the class bold */
.bold {
  font-weight: bold;    /* Apply bold font weight */
}

/* Styling for elements with the class events */
.events {
  margin-top: 15rem;      /* Margin from the top */
  margin-bottom: 10rem;   /* Margin from the bottom */
  margin-left: 5rem;      /* Margin from the left */
}

/* CSS webkit keyframes for a fade-in animation */
@-webkit-keyframes fadeIn {
  from { opacity: 0; } /* Starting with opacity 0 */
  to { opacity: 1; }   /* Ending with opacity 1 */
}

/* CSS keyframes for a fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; } /* Starting with opacity 0 */
  to { opacity: 1; }   /* Ending with opacity 1 */
}

/* CSS keyframes for a fade-out animation */
@keyframes fadeOut {
  from { opacity: 1; } /* Starting with opacity 1 */
  to { opacity: 0; }   /* Ending with opacity 0 */
}

/*source: https://cssgradient.io/blog/css-gradient-text/ */
/* Styling for elements with the class text-gradient */
.text-gradient {
  background: linear-gradient(to right, #0b7dee 0%, #1cbe8e 100%);      /* Linear gradient background */
  font-weight: bold;                                                        /* Bold font weight */
}

/* Styling for elements with the class basic-info */
.basic-info {
  min-height: 50vh;             /* Minimum height of 50% viewport height */
  color: cornflowerblue;      /* Text color in cornflower blue */
}

/* Styling for 'row' elements within elements with the class basic-info */
.basic-info .row {
  padding-left: 10vw;       /* Left padding using viewport width units */
  padding-right: 10vw;      /* Right padding using viewport width units */
}

/* Styling for a elements within elements with the class basic-info */
.basic-info a {
  color: cornflowerblue;      /* Text color in cornflower blue */
}

/* CSS for underline animation on hover */
.hover-underline-animation {
  display: inline-block;      /* Display as an inline block */
  position: relative;         /* Set the relative positioning */
}

.hover-underline-animation:after {
  content: '';                            /* Empty content for pseudo-element */
  position: absolute;                     /* Set absolute positioning for the pseudo-element */
  width: 100%;                            /* Full width of the container */
  transform: scaleX(0);                   /* Initial transform to hide the underline */
  height: 2px;                            /* Height of the underline */
  bottom: 0;                              /* Positioned at the bottom */
  left: 0;                                /* Positioned at the left */
  background-color: #eae6e6;            /* Background color of the underline */
  transition: transform 0.35s ease-out;   /* Underline animation */
}

.hover-underline-animation:hover {
  color: rgb(182, 176, 176) !important;     /* Text color change on hover */
  transition: color 0.35s;                    /* Text color transition on hover */
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);                       /* Underline appears on hover */
}

/* Styling for the hover-signin class */
.hover-signin {
  background-color: white;                  /* Background color */
  color: rgb(126, 124, 124) !important;     /* Text color */
  border-radius: 10px;                        /* Border radius */
}

/* Styling for the hover-signin class on hover */
.hover-signin:hover {
  background-color: rgb(158, 155, 155);           /* Background color change on hover */
  color: white;                                   /* Text color change on hover */
  transition: color 0.35s, background-color 0.35s;  /* Transition effects */
}

/* Styling for elements with the class footer */
.footer {
  background-color: rgba(80, 117, 164, 1);      /* Background color in RGBA format */
}

/* Styling for elements with the class bi-arrow-up-circle */
.bi-arrow-up-circle {
  color: white;         /* Text color set to white */
}

/*calendar formatting*/
/* source: https://codepen.io/PepitaK/pen/mdqpRee */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

/* Styling for elements with the class calendar */
.calendar {
  display: flex;              /* Display as a flex container */
  flex-flow: column;          /* Arrange items in a column */
  align-items: center;        /* Center items horizontally */
  font-family: "Poppins", serif; /* Font family */
  background-image: url(img/cal-bg2.jpg); /* Background image */
  margin-top: 6.5rem;         /* Top margin */
  margin-bottom: -2rem;       /* Negative bottom margin */
  padding: 1rem 4rem 1rem 4rem; /* Padding */
}

/* Styling for the element with the ID calendar-1 */
#calendar-1 {
  margin-bottom: -9rem;       /* Negative bottom margin */
}

/* Styling for the element with the ID cal-head-1 */
#cal-head-1 {
  margin-top: 0.5rem;          /* Top margin */
}

/* Styling for elements with the class cal-title */
.cal-title {
  font-weight: 800;           /* Font weight */
  margin: 1rem 0 0;           /* Margins */
}

/* Styling for elements with the class cal-caption */
.cal-caption {
  font-weight: 600;           /* Font weight */
  margin: 0.5rem 0 0;         /* Margins */
}

/* Styling for elements with the class cal-head */
.cal-head {
  display: inline-flex;       /* Display as inline-flex container */
  margin: auto;               /* Center horizontally */
}

/* Styling for the element with the ID cal-head-1 */
#cal-head-1 {
  display: inline-flex;       /* Display as inline-flex container */
}

/* Styling for the element with the ID cal-head-2 */
#cal-head-2 {
  display: none;              /* Hidden */
}

/* Styling for the element with the ID cal-1 */
#cal-1 {
  display: grid;              /* Display as a grid */
}

/* Styling for the element with the ID cal-2 */
#cal-2 {
  display: none;              /* Hidden */
}

/* Styling for elements with the class btn */
.btn {
  height: 75%;                /* Height */
}

/* Styling for elements with the class prev */
.prev {
  margin-right: 18rem;        /* Right margin */
  margin-top: 1rem;           /* Top margin */
  opacity: 0.25;              /* Opacity */
}

/* Styling for elements with the class prev on hover */
.prev:hover {
  background-color: #898989;  /* Background color on hover */
  transition: background-color 0.35s; /* Transition effect */
}

/* Styling for elements with the class next */
.next {
  margin-left: 18rem;         /* Left margin */
  margin-top: 1rem;           /* Top margin */
}

/* Styling for elements with the class next on hover */
.next:hover {
  background-color: #898989;  /* Background color on hover */
  transition: background-color 0.35s; /* Transition effect */
}

/* Styling for elements with the class cal-boxes */
.cal-boxes {
  margin: 1rem;               /* Margin */
}

/* Styling for elements with the class cal-days */
.cal-days {
  display: grid;              /* Display as a grid */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* Grid template columns */
  flex-wrap: wrap;            /* Wrap items */
  list-style: none;           /* Remove list style */
}

/* Styling for elements with the class day */
.day {
  display: flex;                                      /* Display as flex container */
  width: 10rem;                                       /* Width */
  height: 10rem;                                      /* Height */
  margin: 0.25rem;                                    /* Margin */
  flex-flow: column;                                  /* Arrange items in a column */
  border-radius: 0.2rem;                              /* Border radius */
  padding: 1rem;                                      /* Padding */
  font-weight: 300;                                   /* Font weight */
  font-size: 0.8rem;                                  /* Font size */
  box-sizing: border-box;                             /* Box sizing */
  background: rgba(255, 255, 255, 0.25);            /* Background color with opacity */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow */
  backdrop-filter: blur(4px);                         /* Apply backdrop filter */
  -webkit-backdrop-filter: blur(4px);                 /* Apply backdrop filter for webkit */
  border-radius: 10px;                                /* Border radius */
  border: 1px solid rgba(255, 255, 255, 0.18);      /* Border */
}

/* Styling for elements with the class day-head */
.day-head {
  display: flex;                                        /* Display as flex container */
  width: 10rem;                                         /* Width */
  height: 2.5rem;                                       /* Height */
  margin: 0.25rem;                                      /* Margin */
  flex-flow: column;                                    /* Arrange items in a column */
  border-radius: 0.2rem;                                /* Border radius */
  font-weight: 600;                                     /* Font weight */
  font-size: 1.5rem;                                    /* Font size */
  box-sizing: border-box;                               /* Box sizing */
  background: rgba(255, 255, 255, 0.25);              /* Background color with opacity */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);   /* Box shadow */
  backdrop-filter: blur(4px);                           /* Apply backdrop filter */
  -webkit-backdrop-filter: blur(4px);                   /* Apply backdrop filter for webkit */
  border-radius: 10px;                                  /* Border radius */
  border: 1px solid rgba(255, 255, 255, 0.18);        /* Border */
  align-items: center;                                  /* Center items vertically */
}

/* Styling for elements with the class event-title */
.event-title {
  font-weight: 1000;          /* Font weight */
  font-size: 125%;            /* Font size */
  margin-top: -1rem;          /* Top margin */
}

/* Styling for elements with the class event-des */
.event-des {
  display: none;              /* Hidden by default */
}

/* Styling for elements with the class day on hover */
.day:hover {
  transform: scale(1.25);             /* Scale on hover */
  transition: transform 0.5s ease;    /* Transition effect */
  z-index: 99;                        /* Set z-index */
}

/* Styling for elements with the class sign-up */
.sign-up {
  color: rgb(77, 153, 225);   /* Text color*/
}


/* Wave animation adapted from https://codepen.io/uchardon/pen/bxbqoG */
/* Styling for the elements with the class footer-main */
.footer-main {
  background-color: transparent;    /* Background color of the footer */
  position: absolute;               /* Absolute positioning */
  width: 100vw;                     /* Full viewport width */
}

/* Styling for the 'div' elements within elements with the class footer-main */
.footer-main div {
  background-color: rgb(80, 117, 164);      /* Background color */
  margin: -5px 0px 0px 0px;                   /* Margins */
  padding: 0px;                               /* Padding */
  color: #fff;                              /* Text color on the bottom */
  text-align: center;                         /* Center text */
}

/* Styling for svg elements */
svg {
  width: 100vw;         /* Full viewport width */
}

/* Styling for the arrow class */
.arrow {
  stroke-width: 0.4px;    /* Stroke width for the arrow on the ball */
  stroke: white;        /* Color of the arrow on the ball */
}

/* Styling for the topball class */
.topball {
  animation: ball 1.5s ease-in-out;       /* Ball animation */
  animation-iteration-count: infinite;    /* Infinite animation iteration */
  animation-direction: alternate;         /* Alternate animation direction */
  animation-delay: 0.3s;                  /* Animation delay */
  cursor: pointer;                        /* Cursor style */
}

/* Styling for the wave class */
.wave {
  animation: wave 3s linear;               /* Wave animation */
  animation-iteration-count: infinite;     /* Infinite animation iteration */
  fill: rgb(80, 117, 164);               /* Color of the waves */
}

/* Applying a filter with 'filter: url(#goo)' to elements with the class gooeff */
.gooeff {
  filter: url(#goo);        /* Apply a filter */
}

/* Styling for the element with the ID wave2 */
#wave2 {
  animation-duration: 5s;           /* Animation duration */
  animation-direction: reverse;     /* Reverse animation direction */
  opacity: 0.6;                     /* Opacity */
}

/* Styling for the element with the ID wave3 */
#wave3 {
  animation-duration: 7s;   /* Animation duration */
  opacity: 0.3;             /* Opacity */
}
/* Keyframes for the drop animation */
@keyframes drop {
  0% {
    transform: translateY(80%);     /* Initial transformation */
    opacity: 0.6;                   /* Initial opacity */
  }
  80% {
    transform: translateY(80%);     /* Transformation at 80% of animation */
    opacity: 0.6;                   /* Opacity at 80% of animation */
  }
  90% {
    transform: translateY(10%);     /* Transformation at 90% of animation */
    opacity: 0.6;                   /* Opacity at 90% of animation */
  }
  100% {
    transform: translateY(0%) scale(1.5);     /* Final transformation */
    stroke-width: 0.2;                        /* Stroke width at the end */
    opacity: 0;                               /* Final opacity */
  }
}

/* Keyframes for the wave animation */
@keyframes wave {
  to {
    transform: translateX(-100%);     /* Translation to the left */
  }
}

/* Keyframes for the ball animation */
@keyframes ball {
  to {
    transform: translateY(20%);       /* Translation in the Y-axis */
  }
}

/* Styling for elements with the class single_amount_wrapper */
.single_amount_wrapper {
  display: flex;                      /* Display as a flex container */
  justify-content: space-between;     /* Space between items */
  align-items: center;                /* Center vertically */
  margin-bottom: 20px;                /* Bottom margin */
}
.single_amount {
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 25px;
    color: #fff;
    background: #0070ba;
    cursor: pointer;
  }
.amount_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.suffix {
  padding: 8px;
  border: 0;
  font-weight: bold;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 0 8px 8px 0;
  }
  .amount_wrapper input {
    border-radius: 8px 0 0 8px;
    padding: 8px;
    border: 0;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    background: #fff;

  }
  
.modal-body a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding: 10px;
  border: 0;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
  background: #0070ba;
}
/*Arrow animation based on arrow animation from https://unused-css.com/blog/animated-down-arrow/*/
.down-arrow {
  position: absolute;
  bottom: 40px; /* Adjust this value if you want the arrow higher or lower from the bottom */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

/* Styling for elements with the class single_amount */
.single_amount {
  padding: 10px 20px;             /* Padding */
  margin: 0 5px;                  /* Margins */
  border-radius: 25px;            /* Border radius */
  color: #fff;                  /* Text color */
  background: #0070ba;          /* Background color */
  cursor: pointer;                /* Cursor style */
}

/* Styling for elements with the class amount_wrapper */
.amount_wrapper {
  margin-top: 20px;               /* Top margin */
  display: flex;                  /* Display as a flex container */
  justify-content: center;        /* Center horizontally */
  align-items: stretch;           /* Stretch items vertically */
}

/* Styling for elements with the class suffix */
.suffix {
  padding: 8px;                             /* Padding */
  border: 0;                                /* No border */
  font-weight: bold;                        /* Font weight */
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);  /* Box shadow */
  background: #fff;                       /* Background color */
  border-radius: 0 8px 8px 0;               /* Border radius */
}

/* Styling for input elements within amount_wrapper */
.amount_wrapper input {
  border-radius: 8px 0 0 8px;                 /* Border radius */
  padding: 8px;                               /* Padding */
  border: 0;                                  /* No border */
  font-weight: bold;                          /* Font weight */
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);    /* Box shadow */
  background: #fff;                         /* Background color */
}

/* Styling for 'a' elements within elements with the class modal-body */
.modal-body a {
  display: flex;                      /* Display as a flex container */
  justify-content: center;            /* Center horizontally */
  align-items: center;                /* Center vertically */
  margin-top: 25px;                   /* Top margin */
  padding: 10px;                      /* Padding */
  border: 0;                          /* No border */
  color: #fff;                      /* Text color */
  font-size: 16px;                    /* Font size */
  text-decoration: none;              /* Remove text decoration */
  border-radius: 25px;                /* Border radius */
  background: #0070ba;              /* Background color */
}

/* Styling for the down-arrow class for arrow animation */
.down-arrow {
  position: absolute;                     /* Absolute positioning */
  bottom: 40px;                           /* Bottom position */
  left: 50%;                              /* Center horizontally */
  transform: translateX(-50%);            /* Translate to the center */
  width: 0;                               /* Zero width */
  height: 30px;                           /* Height of the arrow */
  border: 2px solid;                      /* Border with 2px width */
  border-radius: 2px;                     /* Border radius */
  animation: jumpInfinite 1.5s infinite;  /* Arrow animation */
}

/* Styling for the pseudo-element after of down-arrow */
.down-arrow:after {
  content: " ";                                 /* Empty content */
  position: absolute;                           /* Absolute positioning */
  bottom: -4px;                                 /* Position below the arrow */
  left: 50%;                                    /* Center horizontally*/
  transform: translateX(-50%) rotateZ(45deg);   /* Transform the arrow element */
  width: 16px;                                  /* Width of the pseudo-element */
  height: 16px;                                 /* Height of the pseudo-element */
  border-bottom: 4px solid;                     /* Bottom border of the pseudo-element */
  border-right: 4px solid;                      /* Right border of the pseudo-element */
  border-radius: 4px;                           /* Border radius of the pseudo-element */
}

/* Keyframes for the jumpInfinite animation */
@keyframes jumpInfinite {
  0% {
    bottom: 30px;                 /* Bottom position at the start of animation */
  }
  50% {
    bottom: 50px;                 /* Bottom position at the middle of animation */
  }
  100% {
    bottom: 30px;                 /* Bottom position at the end of animation */
  }
}
