
/* navbar color and text size */

.nb-background-color {      /* navbar background color */
    background-color: #3e7de3 !important;
}

.nbMenuItem {               /* navbar link text properties*/
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    color:antiquewhite;
    font-family:'Times New Roman', Times, serif;
}

/* footer background color*/
.footer {
    background-color: black; /* footer background */
}

/* showcase background and text color*/
.showcase {
    color: white;
    background-image: linear-gradient(to top, rgb(80,117,164), transparent 50%, transparent), url(img/ChildrenSailingBGImage.jpeg);
    background-repeat: no-repeat, no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover, cover;
    min-height: 500px;
    font-family: 'Courier New', Courier, monospace;
    
        
}
.showcase .display-4 {
    color:white;;
}
/* underline animation CSS */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}